<div class="container">
    <p-card [style]="{ width: '500px', height: '544px' }">
      <div class="imgcontainer">
        <img
          src="./assets/imagenes/user.png"
          alt="Avatar"
          class="avatar"
          max-width="104"
        />
      </div>
      <div class="inputFormulario">
        <label class="labelEdit">Correo electrónico</label>
        <input
          id="username1"
          type="username"
          aria-describedby="username1-help"
          pInputText
          [(ngModel)]="usuario"
          required
        />
      </div>
      <div class="inputFormulario" style="margin-top: 30px">
        <label class="labelEdit">Contraseña</label>
        <input
          id="password"
          type="password"
          aria-describedby="password-help"
          pInputText
          [(ngModel)]="clave"
          required
        />
      </div>
  
      <button
        pButton
        pRipple
        type="button"
        label="Registrarme"
        style="margin-top: 50px"
        class="p-button-outlined p-button-success"
        (click)="Registrarme()"
      ></button>
      <div class="p-d-flex p-jc-center">
        <a [routerLink]="['/login']">Volver al Login</a>
      </div>
    </p-card>
  </div>
  